@import "utilities";

.app {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge {
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  border: 0;
  outline: 0;
  &.badge-purple {
    background: purple;
  }
}

